<div class="card">
  <%= image_tag prototype.image.variant(resize: '500x500'), class: 'prototype-image' if prototype.image.attached? %>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype), class: :card__title%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to prototype.catch_copy, prototype_path(prototype), class: :card__user %>
  </div>
</div>